.main-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Alinea verticalmente en el centro */
    height: 100vh; /* Ajusta la altura al 100% del viewport para centrar verticalmente */
  }
  
  mat-card {
    width: 50%;
    min-width: 200px;
    max-width: 350px;
  }

  mat-card img{
    max-width: 350px;
    min-width: 200px;
  }

  mat-card-content form{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }