mat-grid-tile {
    margin: 20px;
}

.card-container {
    margin: 1vh;
    display: grid;
    gap: 16px; /* Espacio entre las tarjetas */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Las tarjetas tienen un ancho mínimo de 250px y se ajustan automáticamente al tamaño del contenedor */
  }
  
  a {
    color: inherit; /* Inherit the color from the parent element */
    text-decoration: none; /* Remove underline */
  }

  mat-card {
    width: 100%; /* Ajustar el ancho de la tarjeta al 100% del contenedor */
  }
  
  @media screen and (max-width: 600px) {
    .card-container {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Cambiar el ancho mínimo de las tarjetas en pantallas más pequeñas */
    }
  }