mat-toolbar{
    display: flex;
    justify-content: space-between;
    height: auto;
}

.nav-bar-menu{
    display: flex;
    align-items: center;
    margin-top: auto;
}

.example-form{
    margin-top: 20px;
    margin-right: 10px;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Ajusta según sea necesario para separar el logo de otros elementos */
  }
  
  .logo {
    width: 200px; /* Ajusta el ancho del logo según tus necesidades */
    height: auto; /* Ajusta la altura automáticamente en proporción al ancho */
  }