mat-card {
    margin: 5px 10px;
}

.video-card {
    width: 90%;
    max-height: 200px;
}

.video-card img {
    overflow: auto;
    margin: 0 auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.example-card {
    max-width: 400px;
}

mat-card {
    width: calc(100% - 70px);
    height: calc(100% - 70px);
}